body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 40px;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
	
}
.header {
    position: fixed; 
    width: 100%;
    background-color: #fff;      
    
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.1);  
    padding: 16px 0 16px;  
    margin-bottom: 32px;
    z-index: 1;

}
.container {
    max-width: 1124px;
    width: 1124px;
}
.header__flex {
    display: flex;
    justify-content: space-between;
}
.header__flex img {
    margin-left: 3%;
    margin-right: 4px;
}
.header__flex nav {
    display: flex;
    justify-content: space-between;
}
.header__flex nav img {
    margin-left:23px;
    margin-right: 101px;
}
.search {
    display: flex;
    justify-content: center;

}
.restor {
    display: flex;
    justify-content: center;
    padding-bottom: 89px;
}
.restor .container > p { 
    font-size: 22px;
    margin-top: 56px;
    margin-left: 1%;
    margin-bottom: 0;
}
.restor__price {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-left: 1%;
}
.restor__price__elem {
    flex: 0 308px;
    margin-top: 36px;
}
.restor__price__elem p:nth-child(2) {
    font-size: 16px;
}
.restor__price__elem p:nth-child(3) {
    font-size: 14px;
    color: #626262;
}
.restor__price__elem p:nth-child(4) {
    font-size: 13px;
    color: #1D1D1D;
}
.search__input {
    width: 100%;
    margin-top: 120px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}
.search__input::placeholder {
    font-size: 16px;
}

.container nav a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px 17px;
}

.container{
	padding: 0px 30px 0px 30px;
}


@media screen and (max-width: 900px) {
    .header__flex nav img {
        margin-right: 23px;
    }
}
